body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://media.istockphoto.com/vectors/abstract-wavy-halftone-dots-background-vector-id1225681170?k=20&m=1225681170&s=612x612&w=0&h=qFzphEqIRbzXBdzL3kqcfwS2ULgmOpIRFYi_2WSgCto=");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
.container {
  width: 1000px;
  height: 700px;
  margin: 0px auto;
  /* padding: 10px; */
}
#Calculator{
    width:320px;
    height:580px;
    margin: 0 auto;
    background-color: #CAD5E2;
    position: relative;
    border-radius:8px;
    top: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.); */
    /* display: flex; */
    /* justify-content: center; */
}
#res{
    height:120px;
}
#his{
       text-align:right;
       height:20px;
       margin:0 20px;
       padding-top: 20px;
       font-size:15px;
       color:rgb(179, 177, 177);
}
#output{
    text-align:right;
    color:#758283;
    padding-top: 20px;
    margin:0 20px;

}
.operator, .number, .empty{
     width:50px;
     height: 50px;
     margin:15px;
     float:left;
     border-radius:50%;
     border-width: 0;
     font-weight: bold;
     font-size:15px;
}
.number, .empty{
    background-color:#CAD5E2;
}
.number, .operator{
    cursor: pointer;
}

.operator:active,.number:active{
    font-size: 13px;
}
.operator:focus,.number:focus,.empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: #4DD637;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #F7CD2E;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #E03B8B;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #8D3DAF;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #E6425E;
}